<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSIntComSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://201.213.133.91:5007/WSIntCom.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSIntComSoap"
                contract="wsRM.WSIntComSoap" name="WSIntComSoap" />
        </client>
    </system.serviceModel>
</configuration>